.counter-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.counter__value {
  margin-right: 1rem;
}

.counter__button {
  color: var(--primary-700);
  background-color: var(--primary-200);
  border: none;
  border-radius: 1px;
  width: 5rem;
  height: 2rem;
}
